<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <body>
            <h1>Terms and Conditions</h1>
            <p>This is the page for our terms and conditions.</p>
        </body>
    </div>
</div>